header {
    font-family: "Cairo Play";
    background: rgb(43, 43, 43);
    text-align: center;
    font-style:italic;
}
body {
    background-image:linear-gradient(to left, rgb(39, 39, 39), rgb(37, 36, 36));
    /* background-image: conic-gradient(from 0deg, grey, black) */
    opacity:0;
    animation: fadein 2s forwards
}
.title{
    color: red; font-weight: 900;
    font-size: 40px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
