.user-info {
    position: absolute;
    top: 20px;
    left: 20px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-family: "Alexandria";
    color: #e0e0e0;
    font-size: 20px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ff4d4d;
    display: none;
}

header {
    font-size:larger;
    background: rgb(43, 43, 43);
    text-align: center;
}

p {
    color:white;
    font-size:larger;
    text-align:right;
}

h2 {
    font-family: "Alexandria";
    color: #ff4d4d;
    font-size: 28px;
}

body {
    background-image:linear-gradient(to left, rgb(39, 39, 39), rgb(37, 36, 36));
    /* background-image: conic-gradient(from 0deg, grey, black) */
    opacity:0;
    animation: fadein 1s forwards;
    
}
.title {
    background: rgb(43, 43, 43);
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.logo {
    max-width: 100%;
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.sitenav a{
    font-family: "Alexandria";
    color:green;
    margin: 30px;
    font-size: 25px;
}

#quickFacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px;
}

#quickFacts .fact-card {
    background: #3a3a3a;
    padding: 20px;
    border-radius: 10px;
    border-left: 5px solid #ff9900;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

#quickFacts .fact-card img {
    width: 50px;
    height: 50px;
}

#quickFacts .fact-card .fact-content {
    display: flex;
    flex-direction: column;
}

#quickFacts .fact-card .fact-content p {
    color: #e0e0e0;
    font-size: 18px;
    margin: 4px 0;
}

#quickFacts .fact-card .fact-content .accuracy {
    font-weight: bold;
    color: #f0ff24;
}

.search-container{
    max-width: 400px;
    margin: 100px auto;
    background: #2f2f2f;
    padding: 30px;
    color: white;
    text-align: center;
}

#searchFactInput {
    width: 90%;
    padding: 12px 15px;
    margin: 10px 0;
    font-size: 20px;
    font-family: "Alexandria";
    color: #e0e0e0;

    background: #3a3a3a;
    border: 2px solid #ff4d4d30;
    border-radius: 8px;

    outline: none;
    transition: border 0.2s, box-shadow 0.2s;

    cursor:text;
}

button {
    padding: 10px 20px;
    margin: 0 auto;
    font-family: "Alexandria";
    font-size: 18px;
    background-color: #ff4d4d;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover:not(:disabled) {
    background-color: #cc3a3a;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
}